<div class="ekart--product--container">
<app-search (searchTextChanged)="setSearchText($event)"></app-search>
<app-product-list [searchText]="searchText" #productListComponent></app-product-list>
<app-product-detail *ngIf="productListComponent?.selectedProduct" [productListComp]="productListComponent"></app-product-detail>
<div class="ekart-featured-products">
  <div class="ekart-featured-product-heading">
    <h1>Latest Arrival in Popular Brands</h1>
  </div>
  <app-featured-brands>
  <h3 class="title">New Arrivals in Nike</h3>
   <button class="call-to-action">Show  New Arrivals in Nike</button>
  </app-featured-brands>
  <app-featured-brands>
  <h3 class="title">New Arrivals in Adidas</h3>
  <button class="call-to-action">Show  New Arrivals in Adidas</button>

  </app-featured-brands>
  <app-featured-brands>
  <h3 class="title">New Arrivals in Reebok</h3>
  <button class="call-to-action">Show  New Arrivals in Reebok</button>

  </app-featured-brands>


  </div>
</div>
