.ekart--products--container{
  margin: 20px auto;
  display:flex;
  flex-wrap: wrap;
  padding: 0px 17vh;
}

.highlight-product{
  -webkit-box-shadow: 0 0 1px 3px #000 inset;
  -moz-box-shadow:0 0 1px 3px #000 inset;
  border: #efefef 2px solid;
  box-shadow: 10px 10px 18px #cccccc;
  transform: scale(1.05);
  cursor: pointer;

}
