.ekart--search--product{
  margin: 20px auto;
  text-align: center;
}
.ekart-search-product-input{
  width: 40%;
  height: 5.5vh;
  padding: 1px 10px;
  outline: none;
  border-radius: 2px;
  background-color: #efefef;
  border:#28282B 1px solid;
}


.btn{
  padding: 12px 30px;
  height: 5.5vh;
  border: none;
  border-radius: 0 10px 10px 0;
}
.btn-search{
  padding: 12px 30px;
  background-color: #28282B;
  margin-left: -5px;
  color:#fff;
}
.btn-search-disabled{
  padding: 12px 30px;
  background-color: #aaa;
  margin-left: -5px;
  color:#999;
  border: #aaa 1px solid;
  cursor: not-allowed;
}
.ekart-search-result-for{
  margin: 20px auto;
  padding: 10px 140px;
}
